<div class="container">
  <form class="submission-form" [formGroup]="procedureForm" (ngSubmit)="saveProcedure()">
    <label for="procedureName">Procedure name: </label>
    <input type="text" id="procedureName" formControlName="procedureName">
    <label for="isCivil">Procedure type: </label>
    <select name="isCivil" id="isCivil" formControlName="isCivil">
      <option value="True">Civil</option>
      <option value="False">Criminal</option>
    </select>
    <label for="additional-info">Additional info: </label>
    <textarea id="additional-info" formControlName="additionalInfo"></textarea>
    <div>
      <button (click)="goBack()" class="btn btn btnBack" type="button">Back</button>
      <button type="submit" class="btn btn btnAdd">Add</button>
    </div>
  </form>
</div>

