ul li span:nth-child(1){
  display: inline-block;
  width: 200px;
  padding-left: 10px;
}
ul li span:nth-child(2){
  display: inline-block;
  width: 100px;
}
ul li span:nth-child(3){
  display: inline-block;
  width: 600px;
}
ul li span:nth-child(4) {
  display: inline-block;
  width: 80px;
}

.linkEdit{
  cursor: pointer;
  color: #6D93D1;
}
.linkEdit:hover{
  cursor: pointer;
  color: #005AA1;
  text-decoration: underline;
}

.delete{
  color: red;
  cursor: pointer;
}
.delete:hover{
  color:#FA544F;
  text-decoration: underline;
}

.partUl{
  list-style: decimal;
  margin-top: 7px;
  margin-left: 10px;
  font-size: 20px;
}
