<div class="container">
  <div class="row gap100" >
    <div class="col-md-6 welcomeTextDiv">
      <p id="textP">   Tere! Meil on hea meel teiega kohtuda meie ägedas rakenduses, kus saate juhtida erinevaid
        üritusi. Üritusi loomise ja kustutamise funktsioonid,ning osalejate nägemiseks ja nende muutmiseks. Nautige</p>
    </div>
    <div class="col-md-6 p-0">
      <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/judge-hummer.jpg" class="d-block w-100" alt="chair_in_field">
          </div>
          <div class="carousel-item">
            <img src="/assets/justice-scales.jpg" class="d-block w-100" alt="autumn_garden">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
