<section class="contact">
  <div class="content">
    <h5 >Welcome to Atrium Advocate Office</h5>
  </div>
  <div class="container-fluid">
    <div class="contactForm">
      <form [formGroup]="loginForm" (ngSubmit)="logIn()">


        <div class="inputBox">
          <input type="text" id="username" name="username" required="required" formControlName="username">
          <span>Email</span>
        </div>


        <div class="inputBox">
          <input name="password" id="password" required="required" formControlName="password">
          <span> Password</span>
        </div>


        <div class="inputBox">
          <input type="submit" class="btn btn-info text-white login-button button-color" name="loginBtn" value="Log in">
        </div>
      </form>
    </div>
  </div>
</section>

